<form [formGroup]="formGroup">
    <div class="modal-header">
        <h4>{{header}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onClose()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <mat-card>
            <div class="row justify-content-center">

                <mat-form-field style="width: 100%">
                    <input matInput formControlName="name" type="text" placeholder="名称" maxlength="50">
                    <mat-error *ngIf="(name.dirty || name.touched) && name.hasError('maxlength')">
                        名称不能超过50个字符！
                    </mat-error>
                    <mat-error *ngIf="(name.dirty || name.touched) && name.hasError('pattern')">
                        名称只能包含字母、数字或者下划线！
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card>
    </div>

    <div class="modal-footer">
        <button mat-raised-button (click)="onClose()" [disabled]="!edite">
            <span class="fa fa-ban">&nbsp;取消</span>
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="formGroup.invalid">
            <span class="fa fa-share">&nbsp;确认</span>
        </button>
    </div>

</form>

