.svgbackgd{
    background: url('./images/grid.png');
    /*height: 100%;*/
    /*width: 100%;*/
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.bkgd{
    background: url('./images/grid.png');
    /*height: 100%;*/
    /*width: 100%;*/
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
/*.canvas-outer-container {position:absolute; z-index: 5;width:100%}*/

.left-wrapper {
    width: 250px;
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    background: #f0f0f0;
    border-right: solid 1px #e7e7e7;
}
.middle-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 250px;
    right: 250px;
}
.right-wrapper {
    position: absolute;
    width: 250px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #f5f5f5;
    border-left: solid 1px #e7e7e7;
}

.sidebar-nav,
.sidebar-nav ul {
    list-style: none;
    padding: 0px;
}

.sidebar-nav > li:nth-child(odd),
.sidebar-nav ul li:nth-child(odd) {
    background: #f0f0f0;
}
.sidebar-nav > li:nth-child(even),
.sidebar-nav ul > li:nth-child(even) {
    background: #fff;
}

.sidebar-nav li {
    text-indent: 4px;
    line-height: 30px;
}

.sidebar-nav li li {
    text-indent: 15px;
}

.sidebar-nav li li li {
    text-indent: 25px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.sidebar-nav li.active a {
    background-color: #3e99ff;
}

.sidebar-nav li a>i+span {
    margin-left: 3px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.middle-wrapper h4,
.right-wrapper h4 {
    font-size: 1em;
    height: 40px;
    border-bottom: solid 1px #e7e7e7;
    text-align: center;
    line-height: 40px
}

.bpmn .node rect {
    width:180px;
    height:36px;
    cursor: pointer;
    stroke: rgba(189, 32, 98, 0.98);
    stroke-width:2;
    fill: #fff;
}

.bpmn .node.active rect,
.bpmn .node.active circle {
    stroke: lightblue;
}
 circle {
    stroke: #333;
    stroke-width: 2px;
    fill: #fff;
    cursor: crosshair;
}

circle.end {
    fill: orange;
}
.cable {
    stroke: #333;
    stroke-width: 2px;
    fill: none;
}

.attribute {
    cursor: pointer;
    border-radius: 5px;
}
