<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-mx-3">
        <p-dataView [value]="stars" layout="grid" [loading]="loading" emptyMessage="无数据">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-row p-ai-center">
                    <span style="font-size: 1rem">模型&nbsp;</span>
                    <span style="font-size: 1.5rem">
                        “{{abilityName}}”
                    </span>
                    <span style="font-size: 1rem">
                        &nbsp;的&nbsp;
                    </span>
                    <span style="font-size: 1.5rem">
                        粉丝
                    </span>
                </div>
            </ng-template>
            <ng-template let-star pTemplate="gridItem">
                <div class="p-mt-3 p-mr-3" style="width: fit-content"
                     [ngClass]="{'p-shadow-1': !star.mouseOver, 'p-shadow-12': !!star.mouseOver}"
                     (mouseover)="star.mouseOver = true" (mouseout)="star.mouseOver = false">
                    <p-card>
                        <div class="p-d-flex p-ai-center p-mx-3x p-y-5">
                            <p-avatar icon="pi pi-user" styleClass="p-mr-2" shape="circle"
                                      (click)="gotoPersonalAbilities(star.userLogin)"
                                      [style]="{'background-color':'#2196F3', 'color': '#ffffff', 'cursor': 'pointer'}">
                            </p-avatar>
                            <div class="p-d-flex p-flex-column p-ml-2" style="cursor: pointer"
                                 (click)="gotoPersonalStars(star.userLogin)">
                                <div style="font-size: 1.25rem; font-weight: bold">{{star.userLogin}}</div>
                                <div class="p-mt-3">{{star.starDate | date:'yyyy-MM-dd'}}</div>
                            </div>
                        </div>
                    </p-card>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

