/* ==========================================================================
Header
========================================================================== */

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 40px;
    background-color: #000000;
    color: #cccccc;
    font-size: 16px;
}

.header-spacer {
    flex: 1 1 auto;
}

.header-split {
    flex: 0 0 20px;
}

.mat-icon-button {
    font-size: 16px;
    width: fit-content;
}

.dropdown-toggle::after {
    margin-left: 0.15em;
}

.mat-menu-item {
    font-size: 12px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: blueviolet;
    border-radius: 10px;
}

.mybadge {
    display: inline-block;
    min-width: 1px;
    padding: 1px 4px;
    font-size: 1px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: blueviolet;
    border-radius: 50%;
}

.mybadge:empty {
    display: none;
}
