.mat-card {
    margin-left: -5px;
    margin-right: -5px;
}

.page-title {
    margin-top: 10px;
    background-color: #f0f0f0;
    font-size: 28px;
}

.search-condition-card {
    background-color: #f8f8f8;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 4px
}

.table {
    line-height: 100%;
    font-size: 12px;
}

td {
    border-bottom: solid 1px #e0e0e0;
}

.icon-inline {
    color: #673ab7;
}

.mat-menu-item {
    font-size: 10px;
}


.solution-card {
    max-width: 240px;
    max-height: 350px;
    margin: 10px;
}

.solution-card-header {
    height: 55px;
}

.solution-card-title {
    width: 180px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 5px;
}

.solution-card-image {
    height: 220px;
}

.solution-card-content {
    height: 75px;
}

/* Rating */
.star-bg{
    width: 60px;
    height: 16px;
    background: url('../../content/images/star_gray.png');
}
.star-over{
    height:16px;
    background:url('../../content/images/star_org.png') no-repeat;
}

