<div class="row justify-content-center">
    <mat-card style="width: 600px; margin-top: 160px">

        <div class="modal-header">
            <h4>用户帐号激活</h4>
        </div>
        <br>
        <div class="alert alert-success" *ngIf="status == 'success'">
            <p>帐号激活成功，可使用注册时输入的用户名和密码进行登录...</p>
        </div>
        <div class="alert alert-danger" *ngIf="status == 'fail'">
            <p>帐号激活失败，请检查激活码是否有效，或者是否已经被激活...</p>
        </div>
        <br>
        <div class="modal-footer">
            <button mat-raised-button color="primary" (click)="goLogin()" *ngIf="status === 'success'">
                <span class="fa fa-sign-in">&nbsp;去登录</span>
            </button>
        </div>

    </mat-card>
</div>

