<my-pageheader></my-pageheader>

<mat-card style="margin: 20px 20px 50px 20px">
    <h2 align="center">鸢尾花分类</h2>
    <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="petalLength" type="text" placeholder="花瓣长度">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="petalWidth" type="text" placeholder="花瓣宽度">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="sepalLength" type="text" placeholder="萼片长度">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="sepalWidth" type="text" placeholder="萼片宽度">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-5">
            <br>
            <div>
                <button mat-raised-button color="primary" (click)="classify()" [disabled]="sending">
                    开始识别
                </button>
            </div>
            <br><br>
            <p>
                识别结果：   {{result}}
            </p>
        </div>
    </div>
    <br>
</mat-card>

