<my-pageheader></my-pageheader>

<mat-card style="margin: 20px 20px 50px 20px">
    <h2 align="center">场景分类</h2>
    <br><br>

    <div class="row justify-content-center">
        <mat-card style="width: 90%">
            <p>能认识300余种场景或环境，试一试？</p>
            <div>
                <input type="file" ng2FileSelect [uploader]="fileSelector" accept=".jpg, .jpeg, .png, .gif, image/*" [disabled]="sending" />
            </div>
            <br>
            <div>
                <img style="max-width: 100%" src="{{selectedImgDataUrl}}" alt="">
            </div>
        </mat-card>
    </div>
    <div class="row justify-content-center">
        <mat-card style="width: 90%; margin-top: 20px">
            <div *ngIf="results.length > 0 && !sending">
                <p *ngFor="let result of results">
                    {{result[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可能性：{{(result[1] * 100).toFixed(1)}}%
                </p>
            </div>
            <p *ngIf="results.length < 1 && !sending">识别结果</p>
            <p *ngIf="sending">正在努力识别...</p>
            <mat-spinner *ngIf="sending"></mat-spinner>
            <p *ngIf="error">出错啦...</p>
        </mat-card>
    </div>
</mat-card>
