<jhi-pageheader></jhi-pageheader>

<div style="margin: 20px 20px 50px 20px">
    <mat-card style="margin-top: 20px; background-color: #f0f0f0">
        <span style="font-weight: bold; font-size: 28px">积分管理</span>
    </mat-card>
    <mat-card>
        <div class="row" *ngIf="credits">
            <div *ngFor="let credit of credits">
                <mat-card class="pull-right" style="margin: 20px; width: 210px; height: 140px; background-color: #fafafa">
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="primary">person</mat-icon>
                            <div mat-line>
                                <h3>
                                    <a (click)="gotoCredit(credit.userLogin)">
                                        {{credit.userLogin}}
                                    </a>
                                </h3>
                            </div>
                            <p mat-line>
                                <a (click)="gotoCredit(credit.userLogin)">
                                    {{credit.credit}}
                                </a>
                            </p>
                        </mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
        </div>
    </mat-card>

</div>


