<my-pageheader></my-pageheader>

<div style="margin: 20px 20px 50px 20px">
    <mat-card style="margin-top: 20px; background-color: #f0f0f0">
        <span style="font-weight: bold; font-size: 28px" *ngIf="isMyself">我的能力</span>
        <span style="font-weight: bold; font-size: 28px" *ngIf="!isMyself">{{deployer}}&nbsp;的能力</span>
        <button mat-raised-button style="margin-left: 60px; font-size: 20px" (click)="gotoAllAbilitys()">
            所有能力
        </button>
        <button mat-raised-button style="margin-left: 60px; font-size: 20px" (click)="gotoMyStars()" *ngIf="isMyself">
            我的关注
        </button>
        <button mat-raised-button style="margin-left: 60px; font-size: 20px" (click)="gotoDeployerStars()" *ngIf="!isMyself">
            {{deployer}}&nbsp;的关注
        </button>
        <button mat-raised-button style="margin-left: 60px; font-size: 20px" (click)="gotoMyTasks()" *ngIf="isMyself">
            我的任务
        </button>
        <button mat-raised-button style="margin-left: 60px; font-size: 20px" (click)="gotoPersonalModels(userLogin)" *ngIf="isMyself">
            我的模型
        </button>
        <button mat-raised-button style="margin-left: 60px; font-size: 20px" (click)="gotoPersonalModels(deployer)" *ngIf="!isMyself">
            {{deployer}}&nbsp;的模型
        </button>
    </mat-card>
    <mat-card>
        <div class="row" style="margin-top: 20px; margin-bottom: 20px">
            <div class="col-6">
                <input name="search" type="text" class="form-control" placeholder="搜索" [(ngModel)]="filter"
                       (blur)="refresh()">
            </div>
            <div class="col-6">
                <div class="pull-right" *ngIf="!isMobile">
                    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="predicate" (change)="refresh()"
                                             style="height: 36px">
                        <mat-button-toggle value="id" align="center">
                            最新
                        </mat-button-toggle>
                        <mat-button-toggle value="callCount" align="center">
                            最多调用
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <button mat-icon-button (click)="reverse = !reverse; refresh()">
                        <mat-icon>swap_vert</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <mat-button-toggle-group #group="matButtonToggleGroup" *ngIf="isMyself" [(ngModel)]="isPublic"
                                 (change)="refresh()" style="height: 36px">
            <mat-button-toggle [value]=true align="center">
                公开
            </mat-button-toggle>
            <mat-button-toggle [value]=false align="center">
                私有
            </mat-button-toggle>
        </mat-button-toggle-group>

        <div *ngFor="let ability of abilitys; trackBy: trackIdentity">
            <mat-card style="margin:20px 0">
                <mat-list>
                    <mat-list-item>
                        <img mat-list-avatar src="{{ability.pictureUrl}}" (click)="viewAbility(ability)"
                             style="width: 64px; height: 64px; cursor: pointer">
                        <div mat-line>
                            <a (click)="viewAbility(ability)">
                                <span style="font-size: 20px; font-weight: bold">
                                    {{ability.solutionName}}
                                </span>
                            </a>
                            <div class="pull-right" *ngIf="!isMobile">
                                <a (click)="toggleStar(ability)">
                                    <span *ngIf="isMyStar(ability)" class="fa fa-star" style="color: gold"></span>
                                    <span *ngIf="!isMyStar(ability)" class="fa fa-star-o"></span>
                                </a>
                                &nbsp;
                                <a (click)="gotoStargazers(ability)">
                                    <span>{{ability.starCount}}</span>
                                </a>
                            </div>
                        </div>
                        <div mat-line style="font-size: 16px; margin-top: 10px">
                            模型上传：
                            <a (click)="gotoPersonalModels(ability.solutionAuthor)">
                                {{ability.solutionAuthor}}
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            能力部署： {{ability.deployer}}
                        </div>
                        <div mat-line style="font-size: 16px; margin-top: 10px">
                            <span *ngIf="ability.status === '运行'" style="color: green">
                                正在运行
                            </span>
                            <span *ngIf="ability.status === '停止'" style="color: red">
                                已停止
                            </span>
                            <div class="pull-right" *ngIf="!isMobile">
                                <span>调用次数：{{ability.callCount}}</span>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>

        <div>
            <mat-paginator #paginator
                           [length]="totalItems"
                           [pageSize]="itemsPerPage"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="reloadPage($event)"
                           showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card>

</div>


