.mat-card {
    margin-left: -5px;
    margin-right: -5px;
}

.page-title {
    margin-top: 10px;
    background-color: #f0f0f0;
    font-size: 28px;
}

.table {
    line-height: 100%;
    font-size: 12px;
}

td {
    padding: 0.8em 0.8em;
    border-bottom: solid 1px #e0e0e0;
}

.icon-inline {
    color: #673ab7;
}

.mat-menu-item {
    font-size: 10px;
}

.mat-chip {
    height: 8px;
    font-size: 1px;
}

.mat-success {
    background-color: #a5d6a7;
}

.mat-info {
    background-color: bisque;
}



.btn {
    font-size: 16px;
}

.btn-inline-1 {
    height: 14px;
    vertical-align: middle;
    font-size: 8px;
}
