<my-pageheader></my-pageheader>

<mat-card style="margin: 20px 20px 50px 20px">
    <h2 align="center">汇率查询</h2>
    <br><br><br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <div>
                <mat-form-field >
                    <mat-select placeholder="货币1" [(ngModel)]="currency1">
                        <mat-option value="CNY">
                            人民币
                        </mat-option>
                        <mat-option value="USD">
                            美元
                        </mat-option>
                        <mat-option value="EUR">
                            欧元
                        </mat-option>
                        <mat-option value="JPY">
                            日元
                        </mat-option>
                        <mat-option value="GBP">
                            英镑
                        </mat-option>
                        <mat-option value="CHF">
                            瑞士法郎
                        </mat-option>
                        <mat-option value="CAD">
                            加拿大元
                        </mat-option>
                        <mat-option value="AUD">
                            澳大利亚元
                        </mat-option>
                        <mat-option value="HKD">
                            港元
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field >
                    <mat-select placeholder="货币2" [(ngModel)]="currency2">
                        <mat-option value="CNY">
                            人民币
                        </mat-option>
                        <mat-option value="USD">
                            美元
                        </mat-option>
                        <mat-option value="EUR">
                            欧元
                        </mat-option>
                        <mat-option value="JPY">
                            日元
                        </mat-option>
                        <mat-option value="GBP">
                            英镑
                        </mat-option>
                        <mat-option value="CHF">
                            瑞士法郎
                        </mat-option>
                        <mat-option value="CAD">
                            加拿大元
                        </mat-option>
                        <mat-option value="AUD">
                            澳大利亚元
                        </mat-option>
                        <mat-option value="HKD">
                            港元
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-5">
            <br>
            <div>
                <button mat-raised-button color="primary" (click)="classify()" [disabled]="sending || !currency1 || !currency2">
                    开始查询
                </button>
            </div>
            <br><br>
            <p>
                {{result}}
            </p>
        </div>
    </div>
    <br>
</mat-card>

