<div class="p-d-flex p-flex-column p-m-3" *ngIf="!!user">
    <p-toolbar class="p-mb-3">
        <ng-template pTemplate="left">
            <span style="font-size: 1.5rem">我的帐号</span>
        </ng-template>
    </p-toolbar>

    <div class="p-mx-3 p-mt-3 p-mb-5">
        <div *ngIf="!inputPictureUrl && !!user.imageUrl" class="p-text-center">
            <img src="{{user.imageUrl}}" style="max-width: 100%"
                 ng2FileDrop [uploader]="imgSelector" (click)="img_select.click()">
        </div>
        <div *ngIf="!!inputPictureUrl">
            <div class="p-grid">
                <div class="p-col-4">
                    <div *ngIf="!!user.imageUrl" class="p-text-center">
                        <img src="{{user.imageUrl}}" style="max-width: 100%"
                             ng2FileDrop [uploader]="imgSelector" (click)="img_select.click()">
                        <br>
                        <small style="color: #0000ff">200x200px</small>
                        <br><br>
                        <p-button label="使用新头像" styleClass="p-mt-3 p-button-outlined" (onClick)="inputPictureUrl = null; saveUser()"></p-button>
                    </div>
                </div>
                <div class="p-col-8">
                    <image-cropper [imageBase64]="inputPictureUrl"
                                   [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                   [resizeToWidth]="200" [resizeToHeight]="200" format="jpeg"
                                   (imageCropped)="saveCroppedImage($event)"
                                   ng2FileDrop [uploader]="imgSelector">
                    </image-cropper>
                </div>
            </div>
        </div>
        <div style="display: none">
            <input #img_select type="file" ng2FileSelect [uploader]="imgSelector" accept=".jpg, .jpeg, .png, .gif"/>
        </div>
    </div>

    <p-accordion>
        <p-accordionTab header="用户名：{{user.login}}" [selected]="true">
            <div class="p-fluid p-mt-2 p-mx-3">
                <div class="p-field">
                    <label for="fullName">真实姓名</label>
                    <span class="p-input-icon-right">
                            <i class="pi pi-times" *ngIf="user.fullName" (click)="user.fullName = ''"></i>
                            <input id="fullName" type="text" pInputText [(ngModel)]="user.fullName" maxlength="20">
                        </span>
                </div>
                <div class="p-field">
                    <label for="email">电子邮箱</label>
                    <span class="p-input-icon-right">
                            <i class="pi pi-times" *ngIf="user.email" (click)="user.email = ''; checkEmail()"></i>
                            <input id="email" type="text" pInputText [(ngModel)]="user.email"
                                   minlength="5" maxlength="50" required (blur)="checkEmail()">
                        </span>
                    <small class="p-invalid" *ngIf="errorEmail">
                        {{errorEmail}}
                    </small>
                </div>
                <div class="p-field">
                    <label for="phone">手机号码</label>
                    <span class="p-input-icon-right">
                            <i class="pi pi-times" *ngIf="user.phone" (click)="user.phone = ''; checkPhone()"></i>
                            <input id="phone" type="text" pInputText [(ngModel)]="user.phone"
                                   minlength="5" maxlength="20" required (blur)="checkPhone()">
                        </span>
                    <small class="p-invalid" *ngIf="errorPhone">
                        {{errorPhone}}
                    </small>
                </div>

                <div class="p-my-5">
                    <p-button label="更新" icon="pi pi-check-square"
                              (onClick)="saveUser()"
                              [disabled]="errorEmail || errorPhone || (user.fullName === oldUser.fullName && user.email === oldUser.email && user.phone === oldUser.phone && !imgChanged)">
                    </p-button>
                </div>
            </div>
        </p-accordionTab>

        <p-accordionTab header="用户角色">
            <div class="p-d-flex p-flex-column">
                <div *ngFor="let authority of user.authorities.sort()" class="p-mx-3 p-my-2 p-px-2 p-py-2"
                     style="font-size: smaller; background-color: #dceefa; border-radius: 8px">
                    {{authority}}
                </div>
            </div>

        </p-accordionTab>

        <p-accordionTab header="修改密码">
            <div class="p-fluid p-mx-3 p-mt-3">
                <div class="p-field">
                    <label for="password">新密码</label>
                    <span class="p-input-icon-right">
                            <i class="pi pi-times" *ngIf="user.password"
                               (click)="user.password = ''; checkPassword()"></i>
                            <input id="password" type="password" pInputText [(ngModel)]="user.password"
                                   (change)="confirmPassword = ''" (blur)="checkPassword()">
                        </span>
                    <small class="p-invalid" *ngIf="errorPassword">
                        {{errorPassword}}
                    </small>
                </div>
                <div class="p-field">
                    <label for="confirmPassword">重复新密码</label>
                    <span class="p-input-icon-right">
                            <i class="pi pi-times" *ngIf="confirmPassword" (click)="confirmPassword = ''"></i>
                            <input id="confirmPassword" type="password" pInputText [(ngModel)]="confirmPassword"
                                   (blur)="checkPasswordConfirm()">
                        </span>
                    <small class="p-invalid" *ngIf="errorPasswordConfirm">
                        {{errorPasswordConfirm}}
                    </small>
                </div>
                <div class="p-my-5">
                    <p-button label="修改密码" icon="pi pi-check-square" (onClick)="onChangePassword()"
                              [disabled]="!user.password || errorPassword">
                    </p-button>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>




