<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-mx-3">
        <p-dataView [value]="tasks"
                    [lazy]="true" (onLazyLoad)="reloadPage($event)"
                    [paginator]="true" [rows]="itemsPerPage" [first]="page * itemsPerPage" [totalRecords]="totalItems"
                    [showPageLinks]="false"
                    [showJumpToPageDropdown]="true"
                    currentPageReportTemplate="{currentPage}"
                    [showCurrentPageReport]="false"
                    [rowsPerPageOptions]="pageSizeOptions"
                    emptyMessage="无数据"
                    [layout]="layout" (onChangeLayout)="changeLayout($event)"
                    [loading]="loading">
            <ng-template pTemplate="paginatorleft">
                <span class="p-d-none p-d-md-inline" style="font-size: 0.9rem">共 {{totalItems}} 条</span>
            </ng-template>
            <ng-template let-item pTemplate="paginatordropdownitem">
                {{item.value}} / 页
            </ng-template>
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-row p-jc-between">
                    <span style="font-size: 1.5rem">我的任务</span>
                    <p-dropdown [options]="taskStatuses" [(ngModel)]="selectedTaskStatus" (onChange)="loadData()">
                    </p-dropdown>
                </div>
            </ng-template>
            <ng-template let-task pTemplate="listItem">
                <div class="p-col-12">
                    <div class="p-my-1"
                         [ngClass]="{'p-shadow-1': !task.mouseOver, 'p-shadow-12': !!task.mouseOver}"
                         (mouseover)="task.mouseOver = true" (mouseout)="task.mouseOver = false">
                        <div class="p-grid p-p-3 p-d-flex p-ai-center" style="font-size: 0.9rem">
                            <div class="p-col-6 p-md-3">
                                <div class="p-d-flex p-flex-column">
                                    <div style="font-size: 1rem; font-weight: bold">
                                        <a (click)="viewTaskDetails(task)" style="cursor: pointer">
                                            {{task.taskName}}
                                        </a>
                                    </div>
                                    <div class="p-mt-1">
                                        {{task.taskType}}
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-6 p-md-3 p-text-right">
                                {{task.description}}
                            </div>
                            <div class="p-col-4 p-md-2">
                                <div class="p-d-flex p-flex-column">
                                    <div>
                                        <span *ngIf="task.taskStatus === '等待调度'" style="color: grey">{{task.taskStatus}}</span>
                                        <span *ngIf="task.taskStatus === '正在执行'" style="color: blue">{{task.taskStatus}}</span>
                                        <span *ngIf="task.taskStatus === '成功'" style="color: green">{{task.taskStatus}}</span>
                                        <span *ngIf="task.taskStatus === '失败'" style="color: red">{{task.taskStatus}}</span>
                                    </div>
                                    <div class="p-mt-1">
                                        {{task.taskProgress}}%
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-8 p-md-4 p-d-flex p-flex-column p-text-right">
                                <div>开始：{{task.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div class="p-mt-1" *ngIf="task.taskStatus === '成功' || task.taskStatus === '失败'">结束：{{task.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>



