<div class="navbar-dark jh-navbar">
    <div class="navbar-header">
        <a class="navbar-brand logo" routerLink="msg-inbox">
            <span class="logo-img"></span>
            <span class="navbar-title">站内消息</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" [ngbCollapse]="false">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="msg-inbox" routerLinkActive="active">
                    <i class="fa fa-fw fa-inbox" aria-hidden="true"></i>
                    <span>&nbsp;收信箱</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="msg-sent" routerLinkActive="active">
                    <i class="fa fa-fw fa-mars-stroke" aria-hidden="true"></i>
                    <span>&nbsp;已发送</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="msg-deleted" routerLinkActive="active">
                    <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
                    <span>&nbsp;已删除</span>
                </a>
            </li>
        </ul>
    </div>

</div>
