<div class="navbar-dark jh-navbar">
    <div class="navbar-header" id="divDesktop">
        <a class="navbar-brand logo" routerLink="user-management">
            <span class="logo-img"></span>
            <span class="navbar-title">系统管理</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" [ngbCollapse]="false">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" routerLink="user-management" routerLinkActive="active">
                    <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                    <span>&nbsp;用户管理</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" routerLink="role-management" routerLinkActive="active">
                    <i class="fa fa-fw fa-leaf" aria-hidden="true"></i>
                    <span>&nbsp;角色管理</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" routerLink="gateway" routerLinkActive="active">
                    <i class="fa fa-fw fa-road" aria-hidden="true"></i>
                    <span>&nbsp;网关路由</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" routerLink="app-metrics" routerLinkActive="active">
                    <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                    <span>&nbsp;性能指标</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" routerLink="health" routerLinkActive="active">
                    <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                    <span>&nbsp;健康测量</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" routerLink="configuration" routerLinkActive="active">
                    <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                    <span>&nbsp;配置数据</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link" routerLink="docs" routerLinkActive="active">
                    <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                    <span>&nbsp;API接口</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_CONTENT')">
                <a class="nav-link" routerLink="bulletin" routerLinkActive="active">
                    <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                    <span>&nbsp;文稿管理</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="hasAuthority('ROLE_CONTENT')">
                <a class="nav-link" routerLink="attachment" routerLinkActive="active">
                    <i class="fa fa-fw fa-paperclip" aria-hidden="true"></i>
                    <span>&nbsp;附件管理</span>
                </a>
            </li>
        </ul>
    </div>
</div>
