<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-mx-3">
        <p-dataView [value]="solutions"
                    [lazy]="true" (onLazyLoad)="reloadPage($event)"
                    [paginator]="true" [rows]="itemsPerPage" [first]="page * itemsPerPage" [totalRecords]="totalItems"
                    [showPageLinks]="false"
                    [showJumpToPageDropdown]="true"
                    currentPageReportTemplate="{currentPage}"
                    [showCurrentPageReport]="false"
                    [rowsPerPageOptions]="pageSizeOptions"
                    emptyMessage="无数据"
                    [layout]="layout" (onChangeLayout)="changeLayout($event)"
                    [loading]="loading">
            <ng-template pTemplate="paginatorleft">
                <span class="p-d-none p-d-md-inline" style="font-size: 0.9rem">共 {{totalItems}} 条</span>
            </ng-template>
            <ng-template let-item pTemplate="paginatordropdownitem">
                {{item.value}} / 页
            </ng-template>
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column">
                    <div class="p-d-flex p-flex-row p-flex-wrap p-jc-between">
                        <span style="font-size: 1.5rem">所有能力</span>
                        <div class="p-d-flex">
                            <div class="p-input-icon-right p-d-none p-d-md-flex">
                                <input pInputText type="text" [(ngModel)]="filter" (blur)="loadData()" placeholder="搜索">
                                <i class="pi pi-times" *ngIf="filter" (click)="filter = ''; loadData()"></i>
                            </div>
                        </div>
                        <p-dropdown [options]="predicates" [(ngModel)]="predicate" (onChange)="loadData()"></p-dropdown>
                        <p-dataViewLayoutOptions class="p-d-none p-d-md-inline"></p-dataViewLayoutOptions>
                    </div>
                    <div class="p-d-flex p-d-md-none p-fluid p-mt-3">
                        <div class="p-input-icon-right">
                            <input pInputText type="text" [(ngModel)]="filter" (blur)="loadData()" placeholder="搜索">
                            <i class="pi pi-times" *ngIf="filter" (click)="filter = ''; loadData()"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-solution pTemplate="listItem">
                <div class="p-col-12">
                    <div class="p-my-1"
                         [ngClass]="{'p-shadow-1': !solution .mouseOver, 'p-shadow-12': !!solution .mouseOver}"
                         (mouseover)="solution .mouseOver = true" (mouseout)="solution .mouseOver = false">
                        <div class="p-d-flex p-flex-column p-p-3">
                            <div class="p-d-flex p-ai-center">
                                <img src="{{solution.pictureUrl}}" (click)="viewAbility(solution)"
                                     style="cursor: pointer; width: 2.5rem; height: 2.5rem; border-radius: 60%">
                                <div class="p-ml-2 p-mr-3" (click)="viewAbility(solution)"
                                     style="cursor: pointer; font-size: 1.1rem; font-weight: bold">
                                    {{solution.name}}
                                </div>
                                <div class="p-ml-auto" style="font-size: 1rem">
                                    <div class="p-d-flex p-ai-center">
                                        <div (click)="toggleStar(solution)" style="cursor: pointer">
                                            <i *ngIf="isMyStar(solution)" class="fa fa-star" style="color: gold"></i>
                                            <i *ngIf="!isMyStar(solution)" class="fa fa-star-o"></i>
                                        </div>
                                        <div (click)="gotoStargazers(solution)" style="cursor: pointer" class="p-ml-2">
                                            <span>{{solution.starCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-mt-2" (click)="viewAbility(solution)" style="cursor: pointer; font-size: 0.9rem">
                                {{solution.summary}}
                            </div>
                            <div class="p-d-flex p-ai-center p-mt-2" style="font-size: 0.9rem; font-weight: lighter">
                                <div>模型部署：</div>
                                <div class="p-ml-2" (click)="gotoPersonalAbilitys(solution.deployer)" style="cursor: pointer; font-weight: bold">
                                    {{solution.deployer}}
                                </div>
                                <div class="p-ml-3" style="color: red" *ngIf="!solution.active && isOperator">
                                    私有
                                </div>
                                <div class="p-ml-auto">
                                    <div *ngIf="solution.deployStatus === '运行'" style="color: green">
                                        正在运行
                                    </div>
                                    <div *ngIf="solution.deployStatus === '暂停'" style="color: red">
                                        已暂停
                                    </div>
                                </div>
                            </div>
                            <div class="p-d-flex p-ai-center p-mt-1" style="font-size: 0.9rem; font-weight: lighter">
                                <div>部署日期：</div>
                                <div class="p-ml-2">
                                    {{solution.deployDate | date:'yyyy-MM-dd'}}
                                </div>
                                <div class="p-ml-auto">
                                    <span>调用：{{solution.callCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-solution pTemplate="gridItem">
                <div class="p-mt-3 p-mr-3"
                     [ngClass]="{'p-shadow-1': !solution.mouseOver, 'p-shadow-12': !!solution.mouseOver}"
                     (mouseover)="solution.mouseOver = true" (mouseout)="solution.mouseOver = false">
                    <p-panel>
                        <p-header style="width: 100%">
                            <div class="p-d-flex p-ai-center">
                                <div class="p-mr-3" (click)="viewAbility(solution)" style="font-weight: bold; cursor: pointer">
                                    {{solution.name}}
                                </div>
                                <div class="p-ml-auto" style="font-size: 0.8rem">
                                    <div *ngIf="solution.deployStatus === '运行'" style="color: green">
                                        运行
                                    </div>
                                    <div *ngIf="solution.deployStatus === '暂停'" style="color: red">
                                        暂停
                                    </div>
                                </div>
                            </div>
                        </p-header>
                        <div class="p-text-center">
                            <img src="{{solution.pictureUrl}}" (click)="viewAbility(solution)" style="cursor: pointer; width: 10rem; max-width: 100%">
                        </div>
                    </p-panel>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
