<div class="p-d-flex p-flex-column">
    <div class="p-d-none p-d-md-flex p-jc-center p-my-6">
        <a  href="/">
            <img src="assets/images/cubeai128.png" style="height: 5rem">
        </a>
    </div>

    <div class="p-fluid p-d-flex p-jc-center" *ngIf="!resetKey">
        <p-panel>
            <p-header style="font-size: 1.5rem; font-weight: bold">
                忘记密码
            </p-header>
            <div class="p-d-flex p-flex-column p-mt-5 p-mb-3 p-mx-6">
                <div class="p-my-3">
                    <span>请输入你的电子邮箱地址，以便找回密码：</span>
                </div>
                <div class="p-field p-mt-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <span class="p-input-icon-right p-float-label" style="width: 100%">
                            <i class="pi pi-times" *ngIf="email" (click)="email = ''; checkEmail()"></i>
                            <input id="email_input" type="text" pInputText style="width: 100%" [(ngModel)]="email"
                                   minlength="5" maxlength="50" (blur)="checkEmail()">
                            <label for="email_input">电子邮箱</label>
                        </span>
                    </div>
                    <small class="p-invalid" *ngIf="errorEmail">
                        {{errorEmail}}
                    </small>
                </div>
                <div class="p-field p-mt-3">
                    <div class="p-inputgroup" style="height: 44px">
                        <span class="p-inputgroup-addon"><i class="pi pi-eye"></i></span>
                        <span class="p-input-icon-right p-float-label" style="width: 100%">
                            <i class="pi pi-times" *ngIf="myCode" (click)="myCode.setValue('')"></i>
                            <input id="verifyCode" type="text" pInputText style="width: 100%; height: 44px" [(ngModel)]="myCode">
                            <label for="verifyCode">校验码</label>
                        </span>
                        <span class="p-inputgroup-addon" style="width: 160px">
                            <a (click)="getVerifyCode()">
                                <img src="{{verifyPicture}}" alt="获取验证码">
                            </a>
                        </span>
                    </div>
                </div>

                <div>
                    <p-messages [(value)]="msgs"></p-messages>
                </div>

                <div class="p-my-5">
                    <p-button label="找回密码" icon="pi pi-check-square" (onClick)="findPassword()"
                              [disabled]="errorEmail || !myCode">
                    </p-button>
                </div>
            </div>
        </p-panel>
    </div>

    <div class="p-fluid p-d-flex p-jc-center" *ngIf="resetKey">
        <p-panel>
            <p-header style="font-size: 1.5rem; font-weight: bold">
                重置密码
            </p-header>
            <div class="p-d-flex p-flex-column p-mt-5 p-mb-3 p-mx-6">
                <div class="p-my-3">
                    <span>请在下面输入你的新密码：</span>
                </div>
                <div class="p-field p-mt-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                        <span class="p-input-icon-right p-float-label" style="width: 100%">
                            <i class="pi pi-times" *ngIf="password" (click)="password = ''; checkPassword()"></i>
                            <input id="password" type="password" pInputText style="width: 100%" [(ngModel)]="password"
                                   (change)="confirmPassword = ''" (blur)="checkPassword()">
                            <label for="password">密码</label>
                        </span>
                    </div>
                    <small class="p-invalid" *ngIf="errorPassword">
                        {{errorPassword}}
                    </small>
                </div>

                <div class="p-field p-mt-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                        <span class="p-input-icon-right p-float-label" style="width: 100%">
                            <i class="pi pi-times" *ngIf="confirmPassword" (click)="confirmPassword = ''; checkPasswordConfirm()"></i>
                            <input id="confirmPassword" type="password" pInputText style="width: 100%" [(ngModel)]="confirmPassword"
                                   (blur)="checkPasswordConfirm()">
                            <label for="confirmPassword">重复密码</label>
                        </span>
                    </div>
                    <small class="p-invalid" *ngIf="errorPasswordConfirm">
                        {{errorPasswordConfirm}}
                    </small>
                </div>

                <div>
                    <p-messages [(value)]="msgs"></p-messages>
                </div>

                <div class="p-my-5">
                    <p-button label="重置密码" icon="pi pi-check-square" (onClick)="resetPassword()"
                              [disabled]="password.invalid || confirmPassword.invalid"
                              *ngIf="!resetSuccess">
                    </p-button>
                    <p-button label="去登录" icon="pi pi-sign-in" (onClick)="goLogin()"
                              *ngIf="resetSuccess">
                    </p-button>
                </div>
            </div>
        </p-panel>
    </div>
</div>

