<my-pageheader></my-pageheader>

<mat-card style="margin: 20px 20px 50px 20px">
    <h2 align="center">LTE无线网用户感知速率预测</h2>
    <h5 align="center">问题需求：杨雨苍（联通网研院）</h5>
    <h5 align="center">模型开发：李一喆（联通网研院）</h5>
    <br><br>
    <div class="row justify-content-center">
        <mat-card style="width: 90%">
            <p>
                请在下面表单中输入LTE侧无线网络指标和参数。参数共426个，以英文逗号“,”分开。各指标和参数含义请参考模型文档。
            </p>
            <p style="font-size: smaller">
                {{lteSpecsFields}}
            </p>
            <br>
            <div>
                <button mat-raised-button (click)="genLteSpecsExample()" [disabled]="sending">
                    生成LTE网络指标参数
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="lteSpecs = []; lteSpecsText = ''" [disabled]="sending">
                    清空LTE网络指标参数
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="speed = ''" [disabled]="sending">
                    清空预测结果
                </button>
            </div>
            <br>
            <mat-form-field style="width: 100%">
                <textarea matInput style="height: 200px" [(ngModel)]="lteSpecsText" placeholder="LTE网络指标参数"></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="predict()" [disabled]="sending || !lteSpecsText">
                预测
            </button>
            <br><br>
            <h2 align="center">
                <span *ngIf="speed === '达到10Mb/s'" style="color: green">{{speed}}</span>
                <span *ngIf="speed === '不足10Mb/s'" style="color: red">{{speed}}</span>
                <span *ngIf="speed !== '不足10Mb/s' && speed !== '达到10Mb/s'">{{speed}}</span>
            </h2>
            <br><br>
        </mat-card>
    </div>
</mat-card>

