<div class="navbar-dark jh-navbar">
    <div class="navbar-header">
        <a class="navbar-brand logo" routerLink="market">
            <span class="logo-img"></span>
            <span class="navbar-title">AI 商城</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" [ngbCollapse]="false">
        <ul class="navbar-nav">
            <li *ngIf="hasAuthority('ROLE_USER')" class="nav-item">
                <a class="nav-link" routerLink="market" routerLinkActive="active">
                    <i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i>
                    <span>&nbsp;模型超市</span>
                </a>
            </li>
            <li *ngIf="hasAuthority('ROLE_USER')" class="nav-item">
                <a class="nav-link" routerLink="personal" routerLinkActive="active">
                    <i class="fa fa-fw fa-cube" aria-hidden="true"></i>
                    <span>&nbsp;我的模型</span>
                </a>
            </li>
            <li *ngIf="hasAuthority('ROLE_USER')" class="nav-item">
                <a class="nav-link" routerLink="packaging" routerLinkActive="active">
                    <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                    <span>&nbsp;模型打包</span>
                </a>
            </li>
            <li *ngIf="hasAuthority('ROLE_USER')" class="nav-item">
                <a class="nav-link" routerLink="onboarding" routerLinkActive="active">
                    <i class="fa fa-fw fa-upload" aria-hidden="true"></i>
                    <span>&nbsp;模型导入</span>
                </a>
            </li>
            <li *ngIf="hasAuthority('ROLE_MANAGER')" class="nav-item">
                <a class="nav-link" routerLink="approve" routerLinkActive="active">
                    <i class="fa fa-fw fa-check" aria-hidden="true"></i>
                    <span>&nbsp;模型审批</span>
                </a>
            </li>
            <li *ngIf="hasAuthority('ROLE_USER')" class="nav-item">
                <a class="nav-link" routerLink="favorite" routerLinkActive="active">
                    <i class="fa fa-fw fa-star" aria-hidden="true"></i>
                    <span>&nbsp;我的收藏</span>
                </a>
            </li>
            <li *ngIf="hasAuthority('ROLE_USER')" class="nav-item">
                <a class="nav-link" routerLink="shared" routerLinkActive="active">
                    <i class="fa fa-fw fa-share" aria-hidden="true"></i>
                    <span>&nbsp;好友分享</span>
                </a>
            </li>
            <li *ngIf="hasAuthority('ROLE_USER')" class="nav-item">
                <a class="nav-link" routerLink="task" routerLinkActive="active">
                    <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                    <span>&nbsp;我的任务</span>
                </a>
            </li>
        </ul>
    </div>
</div>
