<mat-toolbar class="footer footer-color">
    <span>版权所有 © 2019 中国联通网络技术研究院</span>
    <span class="footer-spacer"></span>

    <span>京ICP证xxxxxx号</span>
    <span class="footer-split"></span>
    <span>京公网安备xxxxxxxxxxxxxx号</span>
    <span class="footer-spacer"></span>

    <a (click)="navigateToTechniqueSupport()">
        <span>
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            &nbsp;技术支撑
        </span>
    </a>
    <span class="footer-split"></span>
    <a (click)="navigateToAboutMe()">
        <span>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            &nbsp;关于我们
        </span>
    </a>
</mat-toolbar>
