<div class="p-d-flex p-flex-wrap p-jc-center p-ai-center p-mt-3" style="height: 6rem">
    <div class="p-mr-2 p-mt-1 p-d-none p-d-md-inline">
        <a href="/">
            <img src="assets/images/cubeai128.png" style="height: 5rem">
        </a>
    </div>
    <div (click)="gotoHome()" style="cursor: pointer; font-size: 2rem; font-weight: bold">
        个人中心
    </div>
</div>

<p-menu #menu [popup]="true" [model]="menuItems" [style]="{'font-size': '1.25rem'}"></p-menu>

<p-button #floatButton cdkDrag icon="pi pi-bars" styleClass="p-button-lg" (onClick)="menu.toggle($event)"
          (cdkDragStarted)="dragStarted($event, floatButton)"
          (cdkDragMoved)="dragMoved($event, floatButton)"
          (cdkDragEnded)="dragMoved($event, floatButton)"
          [style]="{'position': 'fixed', 'top': '80px', 'left': '32px', 'z-index': '98'}">
</p-button>
