<div class="p-grid">
    <div class="p-col-fixed p-d-none p-d-lg-flex" style="width: 220px" *ngIf="sideNavStatus['openMenu']">
        <div class="p-m-3">
            <p-menu [model]="menuItems" [style]="{'font-size': '1.25rem'}"></p-menu>
        </div>
    </div>

    <div class="p-col">
        <router-outlet></router-outlet>
    </div>
</div>

<p-sidebar [(visible)]="sideNavStatus['openPopup']" [showCloseIcon]="true"	class="p-d-lg-none">
    <p-menu [model]="menuItems" [style]="{'font-size': '1.25rem'}"></p-menu>
</p-sidebar>
