<div class="p-d-flex p-flex-column">
    <div class="p-d-none p-d-md-flex p-jc-center p-my-6">
        <a  href="/">
            <img src="assets/images/cubeai128.png" style="height: 5rem">
        </a>
    </div>
    <div class="p-d-flex p-jc-center">
        <p-panel>
            <p-header style="font-size: 1.5rem; font-weight: bold">
                用户帐号激活
            </p-header>
            <div class="p-fluid p-d-flex p-flex-column p-mt-5 p-mx-6">
                <div>
                    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
                </div>

                <div class="p-my-5">
                    <p-button label="去登录" icon="pi pi-sign-in" (onClick)="goLogin()"
                              *ngIf="status === 'success'">
                    </p-button>
                </div>
            </div>
        </p-panel>
    </div>
</div>

