<app-pageheader></app-pageheader>

<div class="p-d-flex p-flex-column p-m-3">
    <p-toolbar class="p-mb-3">
        <ng-template pTemplate="left">
            <span style="font-size: 1.5rem" *ngIf="openMode === 'deploy' && solution">模型部署 —— {{solution.name}}</span>
            <span style="font-size: 1.5rem" *ngIf="openMode === 'view' && task">模型部署任务详情 —— {{task.taskName}}</span>
        </ng-template>
    </p-toolbar>

    <p-card *ngIf="openMode === 'deploy'">
        <div class="p-d-flex p-flex-column p-flex-md-row p-ai-md-center">
            <span style="font-size: 1.25rem">部署至：</span>
            <p-radioButton label="本地" value="local" [(ngModel)]="deployTo" class="p-ml-5 p-mt-3 p-mt-md-0"></p-radioButton>
            <p-radioButton label="CubeAI能力开放平台" value="cubeai" [(ngModel)]="deployTo" class="p-ml-5 p-ml-md-3  p-mt-3 p-mt-md-0"></p-radioButton>
        </div>
    </p-card>
    <p-card class="p-mt-2" *ngIf="openMode === 'deploy' && deployTo === 'local'">
        <div class="p-d-flex p-flex-column">
            <div>请在本地安装有docker环境的系统中运行如下命令：</div>
            <div class="p-d-flex p-flex-wrap p-ai-center p-mt-3 p-ml-5">
                {{genLocalDeployCmd()}}
                <p-button icon="pi pi-copy" styleClass="p-button-outlined p-ml-3" pTooltip="复制"
                          (onClick)="copyDockerUrl(genLocalDeployCmd())">
                </p-button>
            </div>
        </div>
    </p-card>
    <div class="p-mt-2" *ngIf="deployTo === 'cubeai' && (solution || deployStarted)">
        <div class="p-d-flex p-flex-column">
            <p-card styleClass="p-d-flex p-flex-column p-mb-3" *ngIf="openMode === 'deploy'">
                <div class="p-d-flex p-ai-center">
                    <span style="font-size: 1.25rem">部署模式：</span>
                    <p-radioButton label="私有" class="p-ml-5" value="private" [(ngModel)]="deployMode" [disabled]="true"></p-radioButton>
                    <p-radioButton label="开放" class="p-ml-3" value="public" [(ngModel)]="deployMode" [disabled]="true"></p-radioButton>
                </div>
                <p-button label="开始部署" (onClick)="deploySolution()" styleClass="p-mt-5" [disabled]="deployStarted"></p-button>
            </p-card>

            <p-card *ngIf="deployStarted && !statusCreateTaskError">
                <div>
                    部署进度
                    <a (click)="toggleViewDetailDeploy()" *ngIf="detailDeploy && viewDetailDeploy">
                        <span class="fa fa-minus-square" style="color: #0f91ff"></span>
                    </a>
                    <a (click)="toggleViewDetailDeploy()" *ngIf="detailDeploy && !viewDetailDeploy">
                        <span class="fa fa-plus-square" style="color: #0f91ff"></span>
                    </a>
                </div>
                <div style="margin: 20px 20px 0 20px">
                    <p-progressBar [value]="progressDeploy" *ngIf="statusDeploy !== '失败'"></p-progressBar>
                    <div class="p-fluid" *ngIf="statusDeploy === '失败'">
                        <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
                    </div>
                </div>
                <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailDeploy">{{detailDeploy}}</pre>
            </p-card>
            <p-card *ngIf="getCompleteSuccess()">
                <div class="p-d-flex p-flex-wrap p-jc-center p-ai-center">
                    <div class="p-mr-3" style="font-size: 24px; color: green">
                        模型部署成功
                    </div>
                    <p-button styleClass="p-button-outlined" (onClick)="gotoDeployedAbility()">查看部署实例</p-button>
                </div>
            </p-card>
            <p-card *ngIf="getCompleteFail()">
                <div class="p-d-flex p-jc-center">
                    <span style="font-size: 24px; color: red">
                        模型部署失败！
                    </span>
                </div>
            </p-card>
            <p-card *ngIf="statusCreateTaskError">
                <div class="p-d-flex p-jc-center">
                    <span style="font-size: 24px; color: red">
                        创建部署任务失败！
                    </span>
                </div>
            </p-card>
        </div>
    </div>
</div>
