<my-pageheader></my-pageheader>

<mat-card style="margin: 20px 20px 50px 20px">
    <h2 align="center">电信套餐用户满意度预测</h2>
    <h5 align="center">问题需求：江苏联通&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;模型开发：庞冉（联通网研院）</h5>
    <br><br>
    <div class="row justify-content-center">
        <mat-card style="width: 90%">
            <p>
                请在下面表单中输入套餐参数。套餐参数共52个，以英文逗号“,”分开。各参数含义如下：
            </p>
            <p style="font-size: smaller">
                {{taocanFields}}
            </p>
            <br>
            <div>
                <button mat-raised-button (click)="genTaocanExample()" [disabled]="sending">
                    生成随机套餐参数
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="taocan = ''" [disabled]="sending">
                    清空套餐参数
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="sat = ''" [disabled]="sending">
                    清空预测结果
                </button>
            </div>
            <br>
            <mat-form-field style="width: 100%">
                <textarea matInput style="height: 120px" [(ngModel)]="taocan" placeholder="套餐参数"></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="predict()" [disabled]="sending || !taocan">
                预测
            </button>
            <br><br>
            <h2 align="center">
                <span *ngIf="sat === '满意'" style="color: green">{{sat}}</span>
                <span *ngIf="sat === '不满意'" style="color: red">{{sat}}</span>
                <span *ngIf="sat !== '满意' && sat !== '不满意'">{{sat}}</span>
            </h2>
            <br><br>
        </mat-card>
    </div>
</mat-card>

