<app-pageheader></app-pageheader>

<div class="p-d-flex p-flex-column p-m-3">
    <p-toolbar class="p-mb-3">
        <ng-template pTemplate="left">
            <div class="p-d-flex p-ai-center">
                <div class="p-mr-3">
                    <span style="font-size: 1.5rem">模型导入</span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="right">
            <p-button label="模型打包指南" (onClick)="gotoPackagingHelp()"></p-button>
        </ng-template>
    </p-toolbar>

    <p-card>
        在导入模型之前，请先阅读
        <a (click)="gotoPackagingHelp()" style="cursor: pointer">《模型打包指南》</a>
        ，参照其步骤完成预训练模型打包...
    </p-card>
    <p-card class="p-mt-2" ng2FileDrop [uploader]="uploader">
        <div class="p-d-flex p-flex-column">
            <div style="font-size: larger; font-weight: bold">
                第一步：上传模型文件
            </div>
            <div class="p-d-flex p-flex-wrap p-mt-3 p-ai-center">
                <input type="file" ng2FileSelect [uploader]="uploader" accept=".zip" [disabled]="uploader?.queue?.length > 0"/>

                <div *ngIf="uploader?.queue?.length > 0">
                    文件大小：{{uploader.queue[0].file.size/1024 | number:'1.1-1'}}KB
                </div>
                <div class="p-ml-6" *ngIf="uploader?.queue?.length > 0">
                    <span style="color: forestgreen" *ngIf="uploader.queue[0].isSuccess">
                        上传成功
                    </span>
                    <span style="color: #ffc107" *ngIf="uploader.queue[0].isCancel">
                        上传被取消
                    </span>
                    <span style="color: red" *ngIf="uploader.queue[0].isError">
                        上传失败
                    </span>
                </div>
                <div class="p-d-flex p-ml-auto p-ai-center" *ngIf="uploader?.queue?.length > 0">
                    <a (click)="upload(uploader.queue[0])" style="cursor: pointer"
                       *ngIf="!uploader.queue[0].isReady && !uploader.queue[0].isUploading && !uploader.queue[0].isSuccess
                               && !uploader.queue[0].isCancel && !uploader.queue[0].isError">
                        <span class="fa fa-upload" style="color: #0f91ff"></span>
                    </a>
                    <a (click)="uploader.queue[0].cancel()" style="cursor: pointer"
                       *ngIf="uploader.queue[0].isUploading">
                        <span class="fa fa-ban" style="color: #ffc107"></span>
                    </a>
                    <a (click)="uploader.clearQueue()" style="cursor: pointer" class="p-ml-3"
                       *ngIf="!uploader.queue[0].isUploading && !onboardingStarted">
                        <span class="fa fa-remove" style="color: red"></span>
                    </a>
                </div>
            </div>
            <div class="p-mt-3" *ngIf="uploader?.queue?.length > 0">
                <p-progressBar [value]="uploader.progress"></p-progressBar>
            </div>
        </div>
    </p-card>

    <p-card class="p-mt-2" *ngIf="uploader?.queue?.length > 0 && uploader.queue[0].isSuccess">
        <div class="p-d-flex p-flex-column">
            <div style="font-size: larger; font-weight: bold">
                第二步：后台模型导入
            </div>
            <p-card *ngIf="onboardingStarted" class="p-mt-3">
                <div>
                    ①提取模型文件
                    <a (click)="toggleViewDetailExtractModelFile()" style="cursor: pointer"
                       *ngIf="detailExtractModelFile && viewDetailExtractModelFile">
                        <span class="fa fa-minus-square" style="color: #0f91ff"></span>
                    </a>
                    <a (click)="toggleViewDetailExtractModelFile()" *ngIf="detailExtractModelFile && !viewDetailExtractModelFile">
                        <span class="fa fa-plus-square" style="color: #0f91ff"></span>
                    </a>
                </div>
                <div style="margin: 20px 20px 0 20px">
                    <p-progressBar [value]="progressExtractModelFile" *ngIf="statusExtractModelFile !== '失败'"></p-progressBar>
                    <div class="p-fluid" *ngIf="statusExtractModelFile === '失败'">
                        <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
                    </div>
                </div>
                <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailExtractModelFile">{{detailExtractModelFile}}</pre>
            </p-card>
            <p-card *ngIf="statusExtractModelFile === '成功'">
                <div>
                    ②创建模型对象
                    <a (click)="toggleViewDetailCreateSolution()" style="cursor: pointer"
                       *ngIf="detailCreateSolution && viewDetailCreateSolution">
                        <span class="fa fa-minus-square" style="color: #0f91ff"></span>
                    </a>
                    <a (click)="toggleViewDetailCreateSolution()" *ngIf="detailCreateSolution && !viewDetailCreateSolution">
                        <span class="fa fa-plus-square" style="color: #0f91ff"></span>
                    </a>
                </div>
                <div style="margin: 20px 20px 0 20px">
                    <p-progressBar [value]="progressCreateSolution" *ngIf="statusCreateSolution !== '失败'"></p-progressBar>
                    <div class="p-fluid" *ngIf="statusCreateSolution === '失败'">
                        <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
                    </div>
                </div>
                <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailCreateSolution">{{detailCreateSolution}}</pre>
            </p-card>
            <p-card *ngIf="statusCreateSolution === '成功'">
                <div>
                    ③添加artifact
                    <a (click)="toggleViewDetailAddArtifact()" style="cursor: pointer"
                       *ngIf="detailAddArtifact && viewDetailAddArtifact">
                        <span class="fa fa-minus-square" style="color: #0f91ff"></span>
                    </a>
                    <a (click)="toggleViewDetailAddArtifact()" *ngIf="detailAddArtifact && !viewDetailAddArtifact">
                        <span class="fa fa-plus-square" style="color: #0f91ff"></span>
                    </a>
                </div>
                <div style="margin: 20px 20px 0 20px">
                    <p-progressBar [value]="progressAddArtifact" *ngIf="statusAddArtifact !== '失败'"></p-progressBar>
                    <div class="p-fluid" *ngIf="statusAddArtifact === '失败'">
                        <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
                    </div>
                </div>
                <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailAddArtifact">{{detailAddArtifact}}</pre>
            </p-card>
            <p-card *ngIf="statusAddArtifact === '成功'">
                <div>
                    ④生成TOSCA文件
                    <a (click)="toggleViewDetailCreateTosca()" style="cursor: pointer"
                       *ngIf="detailCreateTosca && viewDetailCreateTosca">
                        <span class="fa fa-minus-square" style="color: #0f91ff"></span>
                    </a>
                    <a (click)="toggleViewDetailCreateTosca()" *ngIf="detailCreateTosca && !viewDetailCreateTosca">
                        <span class="fa fa-plus-square" style="color: #0f91ff"></span>
                    </a>
                </div>
                <div style="margin: 20px 20px 0 20px">
                    <p-progressBar [value]="progressCreateTosca" *ngIf="statusCreateTosca !== '失败'"></p-progressBar>
                    <div class="p-fluid" *ngIf="statusCreateTosca === '失败'">
                        <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
                    </div>
                </div>
                <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailCreateTosca">{{detailCreateTosca}}</pre>
            </p-card>
            <p-card *ngIf="statusCreateTosca === '成功'">
                <div>
                    ⑤创建微服务
                    <a (click)="toggleViewDetailGenerateMicroService()" style="cursor: pointer"
                       *ngIf="detailGenerateMicroService && viewDetailGenerateMicroService">
                        <span class="fa fa-minus-square" style="color: #0f91ff"></span>
                    </a>
                    <a (click)="toggleViewDetailGenerateMicroService()" *ngIf="detailGenerateMicroService && !viewDetailGenerateMicroService">
                        <span class="fa fa-plus-square" style="color: #0f91ff"></span>
                    </a>
                </div>
                <div style="margin: 20px 20px 0 20px">
                    <p-progressBar [value]="progressGenerateMicroService" *ngIf="statusGenerateMicroService !== '失败'"></p-progressBar>
                    <div class="p-fluid" *ngIf="statusGenerateMicroService === '失败'">
                        <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
                    </div>
                </div>
                <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailGenerateMicroService">{{detailGenerateMicroService}}</pre>
            </p-card>

            <p-card *ngIf="getCompleteSuccess()">
                <div class="p-d-flex p-flex-wrap p-jc-center p-ai-center">
                    <div class="p-mr-3" style="font-size: 24px; color: green">
                        模型导入成功
                    </div>
                    <p-button styleClass="p-button-outlined" (onClick)="gotoMyModel()">查看模型</p-button>
                </div>
            </p-card>
            <p-card *ngIf="getCompleteFail()">
                <div class="p-d-flex p-flex-wrap p-jc-center p-ai-center">
                    <div class="p-mr-3" style="font-size: 24px; color: red">
                        模型导入失败
                    </div>
                    <p-button styleClass="p-button-outlined" (onClick)="reloadPage()">导入新模型</p-button>
                </div>
            </p-card>
        </div>
    </p-card>
</div>
