<app-pageheader></app-pageheader>

<div class="p-d-flex p-flex-column p-m-3">
    <p-toolbar class="p-mb-3">
        <ng-template pTemplate="left">
            <div class="p-d-flex p-ai-center">
                <div class="p-mr-3">
                    <span style="font-size: 1.5rem">模型导入任务详情 —— {{taskName}}</span>
                </div>
            </div>
        </ng-template>
    </p-toolbar>

    <p-card class="p-mt-3">
        <div>
            ①提取模型文件
            <a (click)="toggleViewDetailExtractModelFile()" style="cursor: pointer"
               *ngIf="detailExtractModelFile && viewDetailExtractModelFile">
                <span class="fa fa-minus-square" style="color: #0f91ff"></span>
            </a>
            <a (click)="toggleViewDetailExtractModelFile()" *ngIf="detailExtractModelFile && !viewDetailExtractModelFile">
                <span class="fa fa-plus-square" style="color: #0f91ff"></span>
            </a>
        </div>
        <div style="margin: 20px 20px 0 20px">
            <p-progressBar [value]="progressExtractModelFile" *ngIf="statusExtractModelFile !== '失败'"></p-progressBar>
            <div class="p-fluid" *ngIf="statusExtractModelFile === '失败'">
                <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
            </div>
        </div>
        <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailExtractModelFile">{{detailExtractModelFile}}</pre>
    </p-card>

    <p-card *ngIf="statusExtractModelFile === '成功'">
        <div>
            ②创建模型对象
            <a (click)="toggleViewDetailCreateSolution()" style="cursor: pointer"
               *ngIf="detailCreateSolution && viewDetailCreateSolution">
                <span class="fa fa-minus-square" style="color: #0f91ff"></span>
            </a>
            <a (click)="toggleViewDetailCreateSolution()" *ngIf="detailCreateSolution && !viewDetailCreateSolution">
                <span class="fa fa-plus-square" style="color: #0f91ff"></span>
            </a>
        </div>
        <div style="margin: 20px 20px 0 20px">
            <p-progressBar [value]="progressCreateSolution" *ngIf="statusCreateSolution !== '失败'"></p-progressBar>
            <div class="p-fluid" *ngIf="statusCreateSolution === '失败'">
                <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
            </div>
        </div>
        <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailCreateSolution">{{detailCreateSolution}}</pre>
    </p-card>
    <p-card *ngIf="statusCreateSolution === '成功'">
        <div>
            ③添加artifact
            <a (click)="toggleViewDetailAddArtifact()" style="cursor: pointer"
               *ngIf="detailAddArtifact && viewDetailAddArtifact">
                <span class="fa fa-minus-square" style="color: #0f91ff"></span>
            </a>
            <a (click)="toggleViewDetailAddArtifact()" *ngIf="detailAddArtifact && !viewDetailAddArtifact">
                <span class="fa fa-plus-square" style="color: #0f91ff"></span>
            </a>
        </div>
        <div style="margin: 20px 20px 0 20px">
            <p-progressBar [value]="progressAddArtifact" *ngIf="statusAddArtifact !== '失败'"></p-progressBar>
            <div class="p-fluid" *ngIf="statusAddArtifact === '失败'">
                <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
            </div>
        </div>
        <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailAddArtifact">{{detailAddArtifact}}</pre>
    </p-card>
    <p-card *ngIf="statusAddArtifact === '成功'">
        <div>
            ④生成TOSCA文件
            <a (click)="toggleViewDetailCreateTosca()" style="cursor: pointer"
               *ngIf="detailCreateTosca && viewDetailCreateTosca">
                <span class="fa fa-minus-square" style="color: #0f91ff"></span>
            </a>
            <a (click)="toggleViewDetailCreateTosca()" *ngIf="detailCreateTosca && !viewDetailCreateTosca">
                <span class="fa fa-plus-square" style="color: #0f91ff"></span>
            </a>
        </div>
        <div style="margin: 20px 20px 0 20px">
            <p-progressBar [value]="progressCreateTosca" *ngIf="statusCreateTosca !== '失败'"></p-progressBar>
            <div class="p-fluid" *ngIf="statusCreateTosca === '失败'">
                <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
            </div>
        </div>
        <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailCreateTosca">{{detailCreateTosca}}</pre>
    </p-card>
    <p-card *ngIf="statusCreateTosca === '成功'">
        <div>
            ⑤创建微服务
            <a (click)="toggleViewDetailGenerateMicroService()" style="cursor: pointer"
               *ngIf="detailGenerateMicroService && viewDetailGenerateMicroService">
                <span class="fa fa-minus-square" style="color: #0f91ff"></span>
            </a>
            <a (click)="toggleViewDetailGenerateMicroService()" *ngIf="detailGenerateMicroService && !viewDetailGenerateMicroService">
                <span class="fa fa-plus-square" style="color: #0f91ff"></span>
            </a>
        </div>
        <div style="margin: 20px 20px 0 20px">
            <p-progressBar [value]="progressGenerateMicroService" *ngIf="statusGenerateMicroService !== '失败'"></p-progressBar>
            <div class="p-fluid" *ngIf="statusGenerateMicroService === '失败'">
                <p-button styleClass="p-button-danger" [style]="{'height': '16px'}" [disabled]="true"></p-button>
            </div>
        </div>
        <pre style="margin: 20px 20px 0 20px; font-size: small" *ngIf="viewDetailGenerateMicroService">{{detailGenerateMicroService}}</pre>
    </p-card>
    <p-card *ngIf="getCompleteSuccess()">
        <div class="p-d-flex p-flex-wrap p-jc-center p-ai-center">
            <div class="p-mr-3" style="font-size: 24px; color: green">
                模型导入成功
            </div>
            <p-button styleClass="p-button-outlined" (onClick)="gotoMyModel()">查看模型</p-button>
        </div>
    </p-card>
    <p-card *ngIf="getCompleteFail()">
        <div class="p-d-flex p-flex-wrap p-jc-center p-ai-center">
            <div class="p-mr-3" style="font-size: 24px; color: red">
                模型导入失败
            </div>
            <p-button styleClass="p-button-outlined" (onClick)="reloadPage()">导入新模型</p-button>
        </div>
    </p-card>
</div>
