<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-mx-3">
        <p-dataView [value]="creditHistoryList"
                    [lazy]="true" (onLazyLoad)="reloadPage($event)"
                    [paginator]="true" [rows]="itemsPerPage" [first]="page * itemsPerPage" [totalRecords]="totalItems"
                    [showPageLinks]="false"
                    [showJumpToPageDropdown]="true"
                    currentPageReportTemplate="{currentPage}"
                    [showCurrentPageReport]="false"
                    [rowsPerPageOptions]="pageSizeOptions"
                    emptyMessage="无数据"
                    [layout]="layout" (onChangeLayout)="changeLayout($event)"
                    [loading]="loading">
            <ng-template pTemplate="paginatorleft">
                <span class="p-d-none p-d-md-inline" style="font-size: 0.9rem">共 {{totalItems}} 条</span>
            </ng-template>
            <ng-template let-item pTemplate="paginatordropdownitem">
                {{item.value}} / 页
            </ng-template>
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-row p-flex-wrap p-jc-between p-ai-center">
                    <span style="font-size: 1.5rem">{{userLogin}} 的积分</span>
                    <span style="font-size: 1rem" *ngIf="!!credit">现有积分： {{credit.credit}}</span>
                    <div class="p-d-flex p-flex-row p-flex-wrap p-ai-center">
                        <div class="p-d-flex p-flex-row p-ai-center p-mt-3 p-mt-md-0">
                            <i class="fa fa-minus-circle" (click)="creditPlus = creditPlus - 1"></i>
                            <p-slider [(ngModel)]="creditPlus" [min]="-100" [max]="100" [style]="{'width': '15rem'}"></p-slider>
                            <i class="fa fa-plus-circle" (click)="creditPlus = creditPlus + 1"></i>
                            <div class="p-ml-3">{{creditPlus}}</div>
                        </div>
                        <p-button styleClass="p-ml-3 p-mt-3 p-mt-md-0" label="手动调整积分" (onClick)="addCredit(creditPlus)" [disabled]="!creditPlus"></p-button>
                    </div>
                </div>
            </ng-template>
            <ng-template let-creditHistory pTemplate="listItem">
                <div class="p-col-12">
                    <div class="p-d-flex p-flex-wrap p-ai-center p-my-3">
                        <span class="p-ml-3"><i class="fa fa-fw fa-credit-card"></i></span>
                        <span class="p-mx-3">{{creditHistory.modifyDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        <span class="p-mx-3">{{creditHistory.comment}}</span>
                        <span class="p-mx-3"><span *ngIf="creditHistory.creditPlus > 0">+</span>{{creditHistory.creditPlus}}积分</span>
                        <span class="p-mx-3">当前积分：{{creditHistory.currentCredit}}</span>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

