<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-mx-3">
        <p-dataView [value]="credits" layout="grid" [loading]="loading" emptyMessage="无数据">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-row">
                    <span style="font-size: 1.5rem">积分管理</span>
                </div>
            </ng-template>
            <ng-template let-credit pTemplate="gridItem">
                <div (click)="gotoCredit(credit.userLogin)" style="cursor: pointer">
                    <div class="p-mt-3 p-mr-3" style="width: fit-content"
                         [ngClass]="{'p-shadow-1': !credit.mouseOver, 'p-shadow-12': !!credit.mouseOver}"
                         (mouseover)="credit.mouseOver = true" (mouseout)="credit.mouseOver = false">
                        <p-card>
                            <div class="p-d-flex p-ai-center p-mx-3x p-y-5">
                                <p-avatar icon="pi pi-user" styleClass="p-mr-2" shape="circle"
                                          [style]="{'background-color':'#2196F3', 'color': '#ffffff'}">
                                </p-avatar>
                                <div class="p-d-flex p-flex-column p-mx-2">
                                    <div style="font-size: 1.25rem; font-weight: bold">{{credit.userLogin}}</div>
                                    <div class="p-mt-3">{{credit.credit}}</div>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

