<my-pageheader></my-pageheader>

<mat-card style="margin: 20px 20px 50px 20px">
    <h2 align="center">英语情感分析</h2>
    <h5 align="center">中兴通讯</h5>
    <br><br>
    <div class="row justify-content-center">
        <mat-card style="width: 90%">
            <mat-form-field style="width: 100%">
                <textarea matInput style="height: 100px" [(ngModel)]="text" placeholder="请输入一段英文句子"></textarea>
            </mat-form-field>
        </mat-card>
    </div>
    <br>
    <div class="row justify-content-center">
        <button mat-raised-button color="primary" (click)="classify()" [disabled]="sending || !text">
            识别
        </button>
    </div>
    <br>
    <div class="row justify-content-center">
        <mat-card style="width: 90%">
            <p>整句情感： {{label}}</p>
            <p style="font-size: smaller">注：情感分数值越接近0，负向越明显；越靠近1，正向越明显</p>
        </mat-card>
    </div>
</mat-card>

