<p-confirmDialog header="删除用户" icon="pi pi-exclamation-triangle" acceptLabel="是" rejectLabel="否"></p-confirmDialog>
<p-contextMenu #menu_context [model]="menuItems" (onShow)="genMenuItems()"></p-contextMenu>
<p-menu #menu_popup [popup]="true" [model]="menuItems"></p-menu>

<div class="p-d-flex p-flex-column p-m-3">
    <p-toolbar class="p-mb-3">
        <ng-template pTemplate="left">
            <i class="pi pi-bars p-d-none p-d-lg-inline" style="font-size: 1.75rem; cursor: pointer"
               (click)="globalService.toggleSideNav()">
            </i>
            <i class="pi pi-bars p-d-lg-none" style="font-size: 1.75rem; cursor: pointer"
               (click)="globalService.openSideBar()">
            </i>
            <span style="font-size: 1.75rem" class="p-ml-3">用户管理</span>
        </ng-template>

        <ng-template pTemplate="right">
            <p-button icon="pi pi-user-plus" styleClass="p-button-outlined p-mr-3" (onClick)="createUser()"></p-button>
            <p-button icon="pi pi-refresh" styleClass="p-button-outlined" (onClick)="loadData()"></p-button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="users" [autoLayout]="true"
             selectionMode="single" [(contextMenuSelection)]="selectedUser" [contextMenu]="menu_context" dataKey="id"
             stateStorage="local" stateKey="users-state"
             styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
             [lazy]="true" (onLazyLoad)="reloadPage($event)"
             [paginator]="true" [rows]="itemsPerPage" [totalRecords]="totalItems"
             [showPageLinks]="false"
             [showJumpToPageDropdown]="true"
             currentPageReportTemplate="{currentPage}"
             [showCurrentPageReport]="false"
             [rowsPerPageOptions]="pageSizeOptions"
             [loading]="loading">
        <ng-template pTemplate="paginatorleft">
            <span class="p-d-none p-d-md-inline" style="font-size: 0.9rem">共 {{totalItems}} 条</span>
        </ng-template>
        <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} / 页
        </ng-template>
        <ng-template pTemplate="emptymessage">
            无数据
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="p-fluid">
                <span class="p-input-icon-right">
                    <input pInputText type="text" [(ngModel)]="filter" (blur)="loadData()" placeholder="搜索">
                    <i class="pi pi-times" *ngIf="filter" (click)="filter = ''; loadData()"></i>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">编号<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="login">用户帐号<p-sortIcon field="login"></p-sortIcon></th>
                <th pSortableColumn="fullName">姓名<p-sortIcon field="fullName"></p-sortIcon></th>
                <th pSortableColumn="email">电子邮箱<p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="phone">电话号码<p-sortIcon field="phone"></p-sortIcon></th>
                <th>激活?</th>
                <th>角色</th>
                <th>操作</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr [pContextMenuRow]="user">
                <td>{{user.id}}</td>
                <td><a (click)="viewUser(user.login)" style="cursor: pointer; font-weight: bold">{{user.login}}</a></td>
                <td>{{user.fullName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <p-checkbox [binary]="true" [(ngModel)]="user.activated"
                                [disabled]="user.login === currentAccount.login ||user.login === 'admin'"
                                (onChange)="setActive(user)">
                    </p-checkbox>
                </td>
                <td>
                    <div class="p-d-flex p-flex-wrap">
                        <div *ngFor="let authority of user.authorities.sort().slice(0,2)" class="p-mx-1 p-px-2 p-py-1"
                             style="font-size: smaller; background-color: #dceefa; border-radius: 0.5rem">
                            {{authority}}
                        </div>
                        <div *ngIf="user.authorities.length > 2" class="p-mx-1 p-px-3 p-py-1"
                             pTooltip="{{getOtherRoles(user.authorities.sort())}}"
                             style="font-size: smaller; background-color: #dceefa; border-radius: 8px">
                            <span>
                                more...
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <p-button icon="pi pi-bars" styleClass="p-button-rounded p-button-outlined p-button-help"
                              (click)="selectedUser = user; genMenuItems(); menu_popup.toggle($event)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

