<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-d-flex p-flex-row p-flex-wrap p-jc-center">
        <div *ngFor="let app of apps" class="p-m-3">
            <div *ngIf="app.picture && hasAnyRole(app.needRoles)">
                <div [ngClass]="{'p-shadow-1': !app.mouseOver, 'p-shadow-12': !!app.mouseOver}"
                     (mouseover)="app.mouseOver = true" (mouseout)="app.mouseOver = false">
                    <p-panel>
                        <p-header style="width: 100%; text-align: center; font-size: 1.5rem; font-weight: bold">
                            {{app.name}}
                        </p-header>
                        <div class="p-text-center">
                            <img src="{{app.picture}}" (click)="gotoUrl(app.url)"
                                 style="cursor: pointer; width: 15rem; max-width: 100%">
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</div>
