<div class="p-d-flex p-flex-wrap p-jc-center p-ai-center p-mt-3" style="height: 6rem">
    <div class="p-mr-2 p-mt-1 p-d-none p-d-md-inline">
        <a href="/">
            <img src="assets/images/cubeai128.png" style="height: 5rem">
        </a>
    </div>
    <div (click)="gotoHome()" style="cursor: pointer; font-size: 2rem; font-weight: bold">
        能力开放
    </div>
</div>

<p-menu #menu [popup]="true" [model]="menuItems" [style]="{'font-size': '1.25rem'}"></p-menu>

<p-button #leftButton cdkDrag icon="pi pi-bars" styleClass="p-button-lg" (onClick)="menu.toggle($event)"
          (cdkDragStarted)="dragStarted($event, leftButton, 'left')"
          (cdkDragMoved)="dragMoved($event, leftButton, 'left')"
          (cdkDragEnded)="dragMoved($event, leftButton, 'left')"
          [style]="{'position': 'fixed', 'top': '80px', 'left': '32px', 'z-index': '98'}">
</p-button>

<p-button #rightButton cdkDrag icon="pi pi-image" styleClass="p-button-lg" pTooltip="应用示范" tooltipPosition="bottom" (onClick)="gotoDemo()"
          *ngIf="currentUrl !== '/demo'"
          (cdkDragStarted)="dragStarted($event, rightButton, 'right')"
          (cdkDragMoved)="dragMoved($event, rightButton, 'right')"
          (cdkDragEnded)="dragMoved($event, rightButton, 'right')"
          [style]="{'position': 'fixed', 'top': '80px', 'right': '32px', 'z-index': '98'}">
</p-button>
