<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-d-flex p-flex-column p-m-3">
        <p-toolbar>
            <div class="p-d-flex p-ai-center" style="width:100%">
                <span style="font-size: 1.5rem">应用示范</span>
                <div class="p-input-icon-right p-ml-auto">
                    <input pInputText type="text" [(ngModel)]="filter" (blur)="loadData()" placeholder="搜索">
                    <i class="pi pi-times" *ngIf="filter" (click)="filter = ''; loadData()"></i>
                </div>
            </div>
        </p-toolbar>

        <div class="p-d-flex p-flex-wrap p-jc-center">
            <div *ngFor="let solution of solutions" class="p-mt-3 p-mx-2">
                <div [ngClass]="{'p-shadow-1': !solution.mouseOver, 'p-shadow-12': !!solution.mouseOver}"
                     (mouseover)="solution.mouseOver = true" (mouseout)="solution.mouseOver = false">
                    <p-panel>
                        <p-header style="width: 100%; text-align: center; font-weight: bold">
                            <a (click)="gotoDemo(solution.uuid)" style="cursor: pointer">
                                {{solution.name}}
                            </a>
                        </p-header>
                        <div class="p-text-center">
                            <img src="{{solution.pictureUrl}}" (click)="gotoDemo(solution.uuid)"
                                 style="cursor: pointer; max-width: 100%">
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>

        <p-paginator class="p-mt-3"
                     (onPageChange)="reloadPage($event)"
                     [rows]="itemsPerPage" [first]="page * itemsPerPage" [totalRecords]="totalItems"
                     [showPageLinks]="false"
                     [showJumpToPageDropdown]="true"
                     currentPageReportTemplate="{currentPage}"
                     [showCurrentPageReport]="false"
                     [rowsPerPageOptions]="pageSizeOptions">
        </p-paginator>
    </div>
</div>
