<my-pageheader></my-pageheader>

<mat-card style="margin: 20px 20px 50px 20px">
    <h2 align="center">天气查询</h2>
    <br><br><br>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="cityname" type="text" placeholder="城市名称">
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="primary" (click)="classify()" [disabled]="sending || !cityname">
                    查询
                </button>
            </div>
            <br>
            <div>
                <p *ngFor="let result of results">
                    {{result}}
                </p>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br>
</mat-card>

