<jhi-pageheader></jhi-pageheader>

<div style="margin: 20px 20px 50px 20px">
    <mat-card style="margin-top: 20px; background-color: #f0f0f0">
        <span style="font-size: 20px">能力</span>
        <span style="font-weight: bold; font-size: 28px">
            “{{abilityName}}”
        </span>
        <span style="font-size: 20px">
            的
        </span>
        <span style="font-size: 28px">
            粉丝
        </span>
    </mat-card>
    <mat-card>
        <div class="row" *ngIf="stars">
            <div *ngFor="let star of stars">
                <mat-card class="pull-right" style="margin: 20px; width: 210px; height: 140px; background-color: #fafafa">
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="primary">person</mat-icon>
                            <div mat-line>
                                <h3>
                                    <a (click)="gotoPersonal(star.userLogin)">
                                        {{star.userLogin}}
                                    </a>
                                </h3>
                            </div>
                            <p mat-line>
                                {{star.starDate |  date:'yyyy-MM-dd'}}
                            </p>
                        </mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>
