<mat-card class="page-title">
    <span>好友分享</span>

    <div class="btn-toolbar float-right" role="toolbar" id="divDesktop">
        <button mat-icon-button (click)="refresh()" matTooltip="刷新">
            <mat-icon color="primary">refresh</mat-icon>
        </button>
    </div>
</mat-card>


<mat-card>
    <div class="row" *ngIf="solutionShareds">
        <div *ngFor="let solutionShared of solutionShareds; trackBy: trackIdentity">
            <mat-card style="font-size: 14px; margin: 10px; width: 240px; background-color: #fafafa" class="pull-right">
                <a (click)="viewSolution(solutionShared.solutionUuid)">
                    <div>
                        <span style="font-size: 18px">
                            {{solutionShared.solutionName}}
                        </span>
                        <br>
                        <span>{{solutionShared.solutionAuthor}}&nbsp;|&nbsp;{{solutionShared.solutionCreatedDate | date:'yyyy-MM-dd'}}</span>
                        <br>
                        <span>好友：{{solutionShared.fromUserLogin}}</span>
                        <br>
                        <span>{{solutionShared.shareDate | date:'yyyy-MM-dd'}}分享</span>
                    </div>
                </a>
                <div class="float-right">
                    <a (click)="deleteShared(solutionShared.id)"><span class="fa fa-remove" style="color: red"></span></a>
                </div>
            </mat-card>
        </div>
    </div>

    <div>
        <mat-paginator #paginator
                       [length]="totalItems"
                       [pageSize]="itemsPerPage"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="reloadPage($event)"
                       showFirstLastButtons>
        </mat-paginator>
    </div>
</mat-card>


