<app-pageheader></app-pageheader>

<div class="p-col-12">
    <div class="p-mx-3">
        <p-dataView [value]="solutions"
                    [lazy]="true" (onLazyLoad)="reloadPage($event)"
                    [paginator]="true" [rows]="itemsPerPage" [first]="page * itemsPerPage" [totalRecords]="totalItems"
                    [showPageLinks]="false"
                    [showJumpToPageDropdown]="true"
                    currentPageReportTemplate="{currentPage}"
                    [showCurrentPageReport]="false"
                    [rowsPerPageOptions]="pageSizeOptions"
                    emptyMessage="无数据"
                    [layout]="layout" (onChangeLayout)="changeLayout($event)"
                    [loading]="loading">
            <ng-template pTemplate="paginatorleft">
                <span class="p-d-none p-d-md-inline" style="font-size: 0.9rem">共 {{totalItems}} 条</span>
            </ng-template>
            <ng-template let-item pTemplate="paginatordropdownitem">
                {{item.value}} / 页
            </ng-template>
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column">
                    <div class="p-d-flex p-flex-row p-flex-wrap p-jc-between">
                        <span style="font-size: 1.5rem" *ngIf="isMyself">我的模型</span>
                        <span style="bold; font-size: 1.5rem" *ngIf="!isMyself">{{authorLogin}}&nbsp;的模型</span>
                        <div class="p-input-icon-right p-d-none p-d-md-flex">
                            <input pInputText type="text" [(ngModel)]="filter" (blur)="loadData()" placeholder="搜索">
                            <i class="pi pi-times" *ngIf="filter" (click)="filter = ''; loadData()"></i>
                        </div>
                        <p-selectButton [options]="actives" [(ngModel)]="selectedActive" *ngIf="isMyself"
                                        (onChange)="switchActive()">
                        </p-selectButton>
                    </div>
                    <div class="p-d-flex p-d-md-none p-fluid p-mt-3">
                        <div class="p-input-icon-right">
                            <input pInputText type="text" [(ngModel)]="filter" (blur)="loadData()" placeholder="搜索">
                            <i class="pi pi-times" *ngIf="filter" (click)="filter = ''; loadData()"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-solution pTemplate="listItem">
                <div class="p-col-12">
                    <div class="p-my-1"
                         [ngClass]="{'p-shadow-1': !solution.mouseOver, 'p-shadow-12': !!solution.mouseOver}"
                         (mouseover)="solution.mouseOver = true" (mouseout)="solution.mouseOver = false">
                        <div class="p-d-flex p-flex-column p-p-3">
                            <div class="p-d-flex p-ai-center">
                                <img src="{{solution.pictureUrl}}" (click)="viewSolution(solution)"
                                     style="cursor: pointer; width: 2.5rem; height: 2.5rem; border-radius: 60%">
                                <div class="p-ml-2 p-mr-3" (click)="viewSolution(solution)"
                                     style="cursor: pointer; font-size: 1.1rem; font-weight: bold">
                                    {{solution.name}}
                                </div>
                                <div class="p-ml-auto" style="font-size: 1rem">
                                    <div class="p-d-flex p-ai-center">
                                        <div (click)="toggleStar(solution)" style="cursor: pointer">
                                            <i *ngIf="isMyStar(solution)" class="fa fa-star" style="color: gold"></i>
                                            <i *ngIf="!isMyStar(solution)" class="fa fa-star-o"></i>
                                        </div>
                                        <div (click)="gotoStargazers(solution)" style="cursor: pointer" class="p-ml-2">
                                            <span>{{solution.starCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-mt-2" (click)="viewSolution(solution)"
                                 style="cursor: pointer; font-size: 0.9rem">
                                {{solution.summary}}
                            </div>
                            <div class="p-mt-2 p-d-flex">
                                <p-chip *ngIf="solution.modelType"><span style="font-size: 0.8rem">{{solution.modelType}}</span>
                                </p-chip>
                                <p-chip *ngIf="solution.toolkitType" styleClass="p-ml-3"><span
                                    style="font-size: 0.8rem">{{solution.toolkitType}}</span></p-chip>
                                <div class="p-d-none p-d-md-flex">
                                    <p-chip *ngIf="solution.tag1" styleClass="p-ml-3"><span style="font-size: 0.8rem">{{solution.tag1}}</span>
                                    </p-chip>
                                    <p-chip *ngIf="solution.tag2" styleClass="p-ml-3"><span style="font-size: 0.8rem">{{solution.tag2}}</span>
                                    </p-chip>
                                    <p-chip *ngIf="solution.tag3" styleClass="p-ml-3"><span style="font-size: 0.8rem">{{solution.tag3}}</span>
                                    </p-chip>
                                </div>
                            </div>
                            <div class="p-d-flex p-ai-center p-mt-3" style="font-size: 0.9rem; font-weight: lighter">
                                <div (click)="gotoStars(solution.authorLogin)" style="cursor: pointer; font-weight: bold">
                                    {{solution.company || solution.authorName || solution.authorLogin}}
                                </div>
                                <div class="p-ml-3">
                                    {{solution.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                                <div class="p-ml-auto">
                                    浏览：{{solution.viewCount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
